@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background:linear-gradient(173deg, #e7e7e7 75%, #ffffff 25%) !important">
    <h1>CourtFinder</h1>
    <p class="lead">Choose your favorite sport and within minutes play with friends or join local leagues.</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="~/Account/Register" role="button">Get Started</a>
</div>

<div class="container-fluid">
    <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <div class="col-12">
            <h1 class="text-center">How it works!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="box-shadow:2px 0.36rem 0.75rem rgba(0,0,0,0.075) !important">                
                <div class="card-body text-center" style="padding-left:5px;padding-right:5px;padding-bottom:7px;">
                    <img class="card-img-top" src="~/Graphics/team.png" />
                    <h2>Team up</h2>
                    <p>Create teams with friends and other users. Join multiple teams and prepare for your next game.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="box-shadow:2px 0.36rem 0.75rem rgba(0,0,0,0.075) !important">                
                <div class="card-body text-center" style="padding-left:5px;padding-right:5px;padding-bottom:7px;">
                    <img class="card-img-top" src="~/Graphics/search.png" />
                    <h2>Search</h2>
                    <p>Search, find, and join nearby sporting facility events. Filter by your favorite sport.  </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="box-shadow:2px 0.36rem 0.75rem rgba(0,0,0,0.075) !important">               
                <div class="card-body text-center" style="padding-left:5px;padding-right:5px;padding-bottom:7px;">
                    <img class="card-img-top" src="~/Graphics/sport.png" />
                    <h2>Create</h2>
                    <p>Sign up for intramural leagues with your teammates or just play around during facility free hours.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="box-shadow:2px 0.36rem 0.75rem rgba(0,0,0,0.075) !important">
                <div class="card-body text-center" style="padding-left:5px;padding-right:5px;padding-bottom:7px;">
                    <img class="card-img-top" src="~/Graphics/statistics.png" />
                    <h2>View</h2>
                    <p>See up-to-date information on upcoming games so you know player reputation and game status.</p>
                </div>
            </div>
        </div>
    </div>
</div>
