
@{
    ViewBag.Title = "Team";
}

<h2>Team Name</h2>
<h4>Win - Loss</h4>
<h4>Reputation</h4>
<hr />
<h2>Members</h2>
<hr />
<h4>List of members</h4>
<h2>Upcoming</h2>
<hr />
<h4>List of upcoming games. Clickable</h4>